<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">HOME</a>
    <a href="register">Register</a>
    <a href="login">Login</a>

   <form method="post" >
    {% csrf_token %}

    <center>
        <h2><u>Login Here</u></h2>
        <table border="2" cellpadding="2" cellspacing="4">
            <tr>
                <td>Username</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="mail"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td>
            </tr>
           
            <tr>
                <td colspan="2"><center><input type="submit" name="sub" value="login"></center></td>
            </tr>
        </table>
    </center>
   </form> 
</body>
</html>